{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a id="back-button" class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="{{ nextRoute }}" method="post">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="country">
              Country?
            </label>
          </h1>
          <select class="govuk-select" id="country" name="country" required>
            <option value=""></option>
            {% for country in countriesList %}
              <option value="{{ country.value.toLowerCase() }}">{{ country.text }}</option>
            {% endfor %}
          </select>
        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
