{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a id="back-button" class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="{{ nextRoute }}" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="region">
                What region?
              </label>
            </h1>
            <div id="region-hint" class="govuk-hint">
              We'll try to find what is closer to you
            </div>
            <input class="govuk-input" id="region" name="region" type="text" required>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
